MONGO_URI=mongodb+srv://USER:PASSWORD@cluster0.example.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=IMS
SHOP_KEY=choose-a-long-random-key
PORT=8787
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
CLOUDINARY_FOLDER=shop-khata
